
@{
    Layout = "~/Views/shared/_MainLayout.cshtml";
}
<div>
    <h1>Searched items</h1>
    <h2>@ViewBag.SearchValue</h2>
<table class="table table-striped">
    <tr>
        <th>Sifra</th>
        <th>Naziv</th>
        <th>Cijena</th>
        <th>Velicina</th>
        <th>Sektor</th>
        <th>Boja</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    @foreach (var item in ViewBag.Items)
    {
<tr>
        <td>@item.Sifra</td>
        <td>@item.Naziv</td>
        <td>@item.Cijena</td>
        <td>@item.OznakaVelicine</td>
        <td>@item.NazivSektora</td>
        <td>@item.Boja</td>
        <td>
            <a class="btn btn-danger" href="@Url.Action("Edit", "Item", new { itemID = item.Id})">Edit</a>
        </td>
        <td>
            <a class="btn btn-success" href="@Url.Action("Delete", "Item", new { itemID = item.Id})">Delete</a>
        </td>
</tr>
    }

</table>
</div>
@section footer{
    <footer>
        &copy; Zara 2022 - Search page
    </footer>
}
